/* Hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* Universal */
*{
    margin-bottom:10px;
    margin-left: 10px;
    padding:10px;
    font-weight: bold; 
} 

body{
    background-color:pink;
    /* #401F71;  */
}
/* De clase */
.General{
    background-color:pink;
     /* #824D74;  */
    

    
}
header{
    padding-bottom: 2px;
    margin-bottom:2px;
}
/* Barra de seccion*/
#Barra_de_seccion{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:#824D74;
}
.flex_item_b{
    background-color:#401F71;
    color:#FDAF7B;
    border-radius: 8px;
    border:1px solid #FDAF7B ;
    
}
/* Titulo */
#Titulo{
    /* background-color:seagreen; */
   background-image:url(../Randomflix/img/Fondos/fondo2.png.png);       
   height: 200px;
   }   

#Titulo article{
    background-color:black;
    height: 160px;
    width: 260px;
    border:3px solid rgb(176, 176, 13);
    /* border:3px solid black; */
    border-radius:20px;
    

}   
#Titulo img{
    height: 120px;
    width: 190px;
    padding-left: 20px;
} 
/* Buscador */
#Buscador{
    height: 100px;  
    display: flex;
    justify-content: center;  
   
}
form{
    display: flex;    
    flex-direction: row;
    align-items: center;
   
}
.busca_recuadro, .busca_recuadro1, .busca_recuadro1 input{
    margin:1px ;
    padding: 1px;
        
}

/* De etiqueta titulos de las secciones Pelicula y Cortos */
h2{
    color:#FDAF7B;
    size:30px;    
}
/* Pelicula */
#Peliculas{
    height: 600px;
    min-width: 857px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: blanchedalmond;  
    grid-gap: 2px;
}
.grid-item{
    width: 250px;
    height: 220px;
}
.grid-item img{
    width: 120px;
    height: 180px;
}

.start{
    background-color: white;
    color:bisque;
    display:inline-block;
    margin:1px;
    padding: 2px;
    position: relative;    
    z-index:1;
    font-size: small;    
}

#Peliculas .start{
    bottom: 30px;
    right:60px;

}

#Peliculas h4, p{
    margin:2px;
    padding: 2px;
    position: relative; 
}
#Peliculas h4{    
    bottom:30px;  

}
#Peliculas p{
    bottom:28px;  
    font-weight: normal;
}

/* Cortos */
#Cortos{
    height: 350px;    
}

#Cortos-flexbox{
    margin-top: 2px;
    padding-top:2px ;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 350px;
    max-width: 90vw;
    overflow-x:scroll;
    align-content: flex-end;

}
.flex-item1, .flex-item2{
    width: 250px;
    height: 260px;
    margin:2px;
    padding:2px;
    display: inline-block;
    
    
}
.flex-item2 img{
    width: 200px;
    height: 150px;
    z-index: 2;
    margin-left: 1px;
    
}

.flex-item1 img{
    width: 120px;
    height: 180px;
    z-index: 2;
    margin-left: 1px;
    
}


#Cortos .start{
    bottom: 50px;

}

.flex-item1 .start{
    left:90px;
}


.flex-item2 .start{
    left:170px;
}


.start i{
    padding: 2px;
    margin:1px;
}


#Cortos h4,p{
    margin:2px;
    padding: 2px;
    position: relative;
    bottom: 50px;

}
/* pie de pagina */
#redes{
    display: flex;
    background-color: aqua;
    border: 2px solid red;
}

#redes article{
    border: 2px;
    margin:5px;
    padding: 5px;
    position: relative;
    bottom: 10px;


    display: flex;
    background-color: white;
    justify-content: space-between;
    align-self: auto;
    flex-grow: 1;


}
