/* Hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* Universal */
*{
    margin: 0px;
    box-sizing: border-box;
    font-weight: bold  ;    
    text-decoration:none;
    font-family: 'League Spartan', sans-serif;
    color: black; 
    
    
} 

body{
    background-color: #dfd0b8;
    width: 100%;
}

/* Barra de seccion*/
#Barra_de_seccion{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:#008cba;
    color:white;
    height: 60px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
        
}
.flex_item_b{    
    background-color:black; 
    height: 60%;
    padding: 12px;
    margin: 10px;    
    border-radius: 8px;
    border:1px solid black ;  
    display: flex;
    align-items: center;
    & a{
        color:#008cba;

    }
  
}
/* Titulo */
#Titulo{
    background-image:url(../img/Fondos/fondo2.png.png);       
    height: 200px;

   & article{
    background-color: black;
    height: 170px;
    width: 220px;
    border:3px solid black;
    border-radius:20px;
    position:relative;
    top: 30px;
    left: 30px;      
    right: 45px;
    display: flex;
    align-items: center;
     }
    
    & img{
        height: 120px;
        width: 190px;
        padding-left: 20px;}
   }   


#peliculaContenedor{
    min-width: 857px;
    margin:20px;    
    display: flex;
    padding: 20px;
    border-radius: 6px;
    background-color: #948979;
    flex-direction: row; 
    align-items: stretch;
     
    
}

.flex-item{
    margin:0px 25px;
    padding:0px 10px;
    /* align-items: stretch; */
    align-items: center;
    /* display: inline-block; */

    
    
}
img{
    height:340px ;
    width: 225px;
    border-radius: 6px;
}

footer{
    padding-bottom: 12px;
    margin-bottom:12px;
}
#Cambiar_pag_y_contactos{
    display:flex;
    background-color:#008cba;
    flex-wrap: wrap;
    height: 70px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-items: center;


}
#siguiente{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-grow: 8;
    & article{
        width: 7%;
        
    }
}

#redes{
    display: flex;
    height: 80%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 140px;    
    flex-grow: 2;
    background-color: blanchedalmond;
    border-radius: 6px;

    & p {
        margin-right: 25px;
    }
    



    & article{
        border: 0px;
        margin:10px;
        padding: 10 px;
        display: inline-block;         
        width: 20px; 
         
        & a{
            margin:0 px;
            padding: 0 px;
            
        }
        & i {
            margin:0 px;
            padding: 0px;
        }     
    
    
    }
    
}

