/* Hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* Universal */
*{
    margin: 0px;
    box-sizing: border-box;
    font-weight: bold  ;    
    text-decoration:none;
    font-family: 'League Spartan', sans-serif;
    color: black; 
    
    
} 

body{
    background-color: #dfd0b8;
    width: 100%;
}
/* De clase */
.General{
    background-color: #948979;
    margin: 1px;
    

    
}
header{
    padding-bottom: 12px;
    margin-bottom:12px;
}
/* Barra de seccion*/
#Barra_de_seccion{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:#008cba;
    color:white;
    height: 60px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
        
}
.flex_item_b{    
    background-color:black; 
    height: 60%;
    padding: 12px;
    margin: 10px;    
    border-radius: 8px;
    border:1px solid black ;  
    display: flex;
    align-items: center;
    & a{
        color:#008cba;

    }
  
}
/* Titulo */
#Titulo{
    background-image:url(../img/Fondos/fondo2.png.png);       
    height: 300px;

   & article{
    background-color: black;
    height: 170px;
    width: 220px;
    border:3px solid black;
    border-radius:20px;
    position:relative;
    top: 100px;
    left: 30px;      
    right: 45px;
    display: flex;
    align-items: center;
     }
    
    & img{
        height: 120px;
        width: 190px;
        padding-left: 20px;}
   }   

   
/* Buscador */
#Buscador{
    height: 200px;  
    display: flex;
    justify-content: center;  
   
}
form{
    display: flex;    
    flex-direction: row;
    align-items: center;
       
}
/* no estoy pudiendo cambiar el tama;o del ::placeholder */
.busca_recuadro, .busca_recuadro1 input{
    margin:1px ;
    padding: 1px;
        
}
.busca_recuadro{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid #008cba;
    background-color: white;;
    outline: none;
    color:black;
                }

/* De etiqueta titulos de las secciones Pelicula y Cortos */
h2{
    color:black;
    size:30px; 
    padding: 10px;
    margin-bottom: 25px;   
}
.start{
    background-color: black;
    color:bisque;
    display:inline-block;
    margin:1px;
    padding: 2px;
    position: relative;    
    z-index:1;
    font-size: small;    
}


/* Pelicula */
#Peliculas{
    height: 650px;
    min-width: 857px;
    padding: 3%;
    
    .start{
        bottom: 10px;
        right:50px;
    
    }
    & h4{
        margin:2px;        
        padding: 2px;
        position: relative;    
        bottom:8px;  
    
    }
    & p{
        margin:2px;
        padding: 2px;
        position: relative;
        bottom:10px;  
        font-weight: normal;
    }
}

.grid-container{
    padding: 20px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: blanchedalmond;  
    grid-gap: 30px;
}

.grid-item{
    width: 250px;
    height: 220px;
    & img{
        width: 120px;
        height: 180px;
        border-radius: 6px;
    }    
 }
 
/* Cortos */
#Cortos{
    height: 400px;
    padding: 3%;
      
    .start{
        bottom: 30px;    
    }  
    & h4, p {
        margin:2px;
        padding: 2px;
        position: relative;
        bottom: 20px;    }  
    & p{
        font-weight: normal;
    } 
}


#Cortos-flexbox{
    margin-top: 0px;
    padding-top:0px ;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 350px;
    max-width: 90vw;
    overflow-x:scroll;
    align-content: flex-end;

}
.flex-item1, .flex-item2{
    width: 250px;
    height: 260px;
    margin:0px 25px;
    padding:0px 10px;
    display: inline-block;
    
    
}
.flex-item2 {
    & img{
    width: 200px;
    height: 150px;
    z-index: 2;
    margin-left: 1px;
    border-radius: 6px;
}
    
    .start{
        left:160px;
    }
}

.flex-item1 {
    & img{
    width: 120px;
    height: 180px;
    z-index: 2;
    margin-left: 1px;
    border-radius: 6px;}

    .start{
        left:72px;
    }
}
.start i{
    padding: 2px;
    margin:1px;
}



/* pie de pagina */
footer{
    padding-bottom: 12px;
    margin-bottom:12px;
}
#Cambiar_pag_y_contactos{
    display:flex;
    background-color:#008cba;
    flex-wrap: wrap;
    height: 70px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-items: center;


}


#siguiente{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-grow: 8;
    & article{
        width: 7%;
        
    }
}

#redes{
    display: flex;
    height: 80%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 140px;    
    flex-grow: 2;
    background-color: blanchedalmond;
    border-radius: 6px;

    & p {
        margin-right: 25px;
    }
    



    & article{
        border: 0px;
        margin:10px;
        padding: 10 px;
        display: inline-block;         
        width: 20px; 
         
        & a{
            margin:0 px;
            padding: 0 px;
            
        }
        & i {
            margin:0 px;
            padding: 0px;
        }     
    
    
    }
    
}

 /* @media screen and ( max-width: 300px){  


    .peliculas{
        flex-direction: column;


        width:100%; 
        height: 100%;
        justify-content: center;
        flex-direction: column-reverse;
        }
     */

/* 
@media screen and (width <=1200) {

    .peliculas{
        width: 100%;
    }
     */


